.form {
    background: url(./assets/img/form-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;

    &__box {
        max-width: 560px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__wrapper {
        position: relative;
        &:valid ~ label,
        &:focus ~ label {
            top: 10px;
        }
    }

    &__input {
        width: 100%;
        background-color: var(--white-color);
        border-radius: 30px;
        padding: 20px 25px 15px;
        border: none;
        outline: none;
        @extend %tilda-300;
        font-size: 18px;
    }

    &__label {
        position: absolute;
        top: 17px;
        left: 25px;
        transition: .5s;
        @extend %tilda-300;
        font-size: 16px;
        opacity: 0.5;
    }

    &__input {
        &:valid ~ label,
        &:focus ~ label {
            font-size: 13px;
            top: -3px;
            left: 15px;
            padding: 5px 10px;
        }
    }

    &__btn {
        padding: 20px;
        background-color: var(--accent-color);
        color: var(--white-color);
        font-size: 16px;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__message1,
    &__message2 {
        display: none;
        @extend %tilda-300;
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 0;
        color: var(--white-color);
        background-color: #28a745cf;
        text-align: center;
    }

    &__textarea {
        width: 100%;
        max-width: 560px;
        resize: vertical;
    }

    &__policy {
        @extend %tilda-300;
        font-size: 15px;
        line-height: 1.5;
        margin-top: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .form__input {
        font-size: 16px;
    }
}