.why {
    background-color: var(--bg-color-grey);

    &__list {
        max-width: 460px;
        margin: 0 auto;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    &__item {
        font-size: 18px;
        line-height: 1.5;
        @extend %tilda-300;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 576px) {
    .why__list {
        padding-left: 25px;
    }
}
