* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-style: normal;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.text {
    @extend %tilda-300;
    font-size: 20px;
    margin-bottom: 35px;
    line-height: 1.5;
}

.section {
    padding: 40px 0;
}

.section-title {
    font-size: 42px;
    line-height: 1.23;
    @extend %tilda-600;
    text-align: center;
    margin-bottom: 40px;
}

.hidden {
    display: none!important;
}

@media screen and (max-width: 768px) {

    .section {
        padding: 30px 0;
    }

    .section-title {
        font-size: 38px;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 576px) {
    .section-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 18px;
    }
}