%tilda-300 {
    font-family: 'TildaSans';
    font-weight: 300;
}

%tilda-400 {
    font-family: 'TildaSans';
    font-weight: 400;
}

%tilda-500 {
    font-family: 'TildaSans';
    font-weight: 500;
}

%tilda-600 {
    font-family: 'TildaSans';
    font-weight: 600;
}

%tilda-900 {
    font-family: 'TildaSans';
    font-weight: 900;
}